<map>
  <entry>
    <string>mainVPKPathSetting</string>
    <string>H:\Programs\Steam\steamapps\common\dota 2 beta\game\dota\pak01_dir.vpk</string>
  </entry>
  <entry>
    <string>mainVPKDirSetting</string>
    <string>H:\Programs\Steam\steamapps\common\dota 2 beta\game\dota</string>
  </entry>
</map>